.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    flex: 1;
}

.logo {
    width: 150px; /* Adjust the size as needed */
}

.nav-container {
    display: flex;
    gap: 20px;
    flex: 2;
    justify-content: flex-end;
}

.nav-item {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}


.nav-item:hover {
    text-decoration: underline;
}
